html {
    font-family: 'Verdana', sans-serif;
    background-color: #121212;
    color: #e2e2e2;
}

body {
    padding-top: 50px;
    margin: 0;
}

html body {
    height: 100%;
    width: 100%;
}

main {
    margin: auto;
    width: 90%;
    max-width: 1024px;
}

footer {
    background-color: #0c0c0c;
    width: 100%;
    float: left;
    display: block;
    color: white;
    padding: 0;
    text-decoration: none;
    margin: 0;
    position: absolute;
    left: 0;
    overflow: hidden;
    margin-top: 50px;
    border-top: 1px solid black;
}

footer div.footersection {
    clear: left;
}

footer p {
    padding-left: 20px;
    font-size: 0.6rem;
    float: left;
}

footer a.footerlink {
    background-color: #202020;
    display: block;
    color: #e2e2e2;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    float: left;
    border-top: 1px solid gray;
    border-bottom: 1px dotted black;
}

.footer-image-box {
    width: 200px;
    height: 80px;
    float: left;
}

#topfooter {
    border-right: 1px dotted black;
}

ul.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
    box-sizing: border-box;
    z-index: 20;
}

li.header a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 33.33%;
    text-decoration: none;
    -webkit-transition-duration: 0.45s;
    transition-duration: 0.45s;
}

.header-dropdown .header-dropdown-button {
    background-color: #0c0c0c;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 33.33%;
    text-decoration: none;
    -webkit-transition-duration: 0.45s;
    transition-duration: 0.45s;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

.header-dropdown .header-dropdown-button:hover {
    background-color: #303030;
}

.header-dropdown-content {
    display: none;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: absolute;
    top: 100%;
    width: 33.33%;
}

#main-dropdown {
    left: 66.66%;
}

.header-dropdown-content li a {
    float: none;
    color: #e0e0e0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.header-dropdown-content li a:hover {
    background-color: #555;
}

.header-dropdown-content li a.active:hover {
    background-color: black;
}

.header-dropdown-content li a.active {
    background-color: black;
    color: grey;
}

.show {
    display: block;
}

.header-dropdown:hover .header-dropdown-content {
    display: block;
}

.caret-down {
    display: inline-block;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #aaa;
}

.brighten {
    background-color: #303030 !important;
}

li.header a.active {
    background-color: #0c0c0c;
}

li.header a.active:hover {
    background-color: #101010;
}

li.header a:hover {
    background-color: #303030;
}

@media screen and (max-width: 800px) {
    .footer-image-box {
        display: none;
    }
    li.header a {
        font-size: 0.8rem;
    }
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(rgba(130, 130, 130, 0.75), rgba(130, 130, 130, 0.75));
}

.highlightsection {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.highlightsection:hover {
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, .01);
}